.registration{
    width: 100%;
    margin: 0 auto;
    max-width: 90%;
}

.center{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    /* justify-content: space-around; */
    padding-top: 15rem;
}

.right{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    gap: 2rem;
}

.lside{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8rem;
}

.log{
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 34px;
    color: #000000;
    opacity: 0.5;
}

.sign{
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 34px;
    color: #000000;
    
}

form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input{
    background: #FFFFFF;
    border: 1px solid #000000;
    width: 400px;
    height: 66px;
}

h5{
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.01em;
    color: #000000;
    
}

.rside1{
    background: #0AA218;
    width: 60px;
    height: 295px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons{
    display: flex;
    align-items: center;
    gap: 5rem;
}

.img4{
    position: absolute;
    top: -18rem;
    left: 0;
}


.img5{
    position: absolute;
    bottom: 0;
    right: 0;
}

.rimg{
    height: 55rem;
}
.limg{
    height: 95rem;
}